.App {
  text-align: center;
}

.header {
  background-color: rgb(54, 51, 203);
  color:white;
  padding: 15px;
  margin-bottom: 20px;;
  
}
h1 {
  margin:0
}

.main {
  background-color: aqua;
  width: 6%;
  margin:auto;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 7px 5px;
}

.btn {
  background-color: rgb(166, 255, 0);
  font-weight: bold;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px 3px;
}